.Search {
	background-color: #222d32;
	width: 100%;
	height: 60px;
}

.InputBox {
	height: 39px;
	position: relative;
	background-color: #222d32;
	border: none;
	-webkit-appearance: none;
	color: dodgerblue;
	text-align: center;
	width: 95%;
	top: 10px;
}

.Button {
	position: relative;
}

.GoogleButton {
	padding: 10px;
}

.SearchIcon {
	height: 32px;
	position: relative;
	top: 8px;
}

.Icon {
	height: 32px;
	position: relative;
	top: 8px;
}

@media (min-width: 800px) {
	.InputBox {
		width: 70%;
	}
}
