.Container {
	display: block;
	background-color: #1e2127;
	border-radius: 8px;
	padding: 5px;
	margin: 0 25px;
}

.Link {
	text-decoration: none;
	color: #8f8c84;
}

.Link:hover {
	color: #00cf35;
}

.Link:active {
	color: #55aebb;
}

.LinkWrapper {
	color: #a0bb7c;
	margin: 10px 0px;
}

.BigContainer {
	width: 12%;
}

.Icon {
	margin-bottom: 10px;
	width: 55px;
	border-radius: 25%;
}

@media (max-width: 1300px) {
	.BigContainer {
		width: 24%;
	}
}

@media (max-width: 600px) {
	.BigContainer {
		width: 50%;
	}
	.Container {
		padding: 2px;
		margin: 0 5px;
	}
}
