.Container {
	display: block;
	border: 1px solid #fc855a;
	width: 100%;
	padding: 10px;
	margin-top: 3%;
	margin-left: 2%;
}

.Teams {
	color: white;
	display: inline-flex;
	justify-content: center;
	position: relative;
	left: -23px;
}

.Scores {
	font-size: 18px;
	color: white;
	position: relative;
	left: -2px;
}

.Status {
	font-size: 16px;
	color: orange;
	position: relative;
	left: -2px;
}

.DodgerScore {
	color: #0057a5;
}

.OtherScore {
	color: red;
}

.Dodgers {
	color: #0057a5;
	display: inline-flex;
	padding: 5px;
	margin-top: 5px;
	float: left;
	font-size: 18px;
}

.Other {
	color: red;
	font-size: 18px;
	padding: 5px;
	display: inline-flex;
	margin-top: 5px;
	float: left;
}

.Divider {
	display: inline-flex;
	float: left;
	padding: 5px;
	margin-top: 5px;
	font-size: 18px;
}

.Title {
	text-align: center;
	position: relative;
	left: -224px;
	top: 20px;
	color: #fc855a;
	padding: 15px;
}

.BigContainer {
	width: 30%;
	position: relative;
	left: 65%;
	top: -20px;
}

.Detail {
	font-size: 16px;
	color: #a8d385;
	position: relative;
	left: -2px;
}

@media (max-width: 2000px) {
	.Title {
		left: 18px;
	}
}

@media (max-width: 1300px) {
	.BigContainer {
		width: 30%;
		left: 60%;
	}
	.Teams {
		left: -8px;
	}
	.Scores {
		position: relative;
		left: 3px;
	}
	.Title {
		left: 26px;
	}
}

@media (max-width: 900px) {
	.Title {
		left: 18px;
	}
}

@media (max-width: 600px) {
	.BigContainer {
		position: relative;
		width: 88%;
		left: 2%;
		padding-bottom: 20px;
		top: 9%;
	}
	.Title {
		top: 25px;
		left: 17px;
	}
}
