.WeatherContainer {
	display: flex;
	justify-content: center;
	float: left;
	position: relative;
	top: 200px;
	left: 36.1%;
	border: 1px solid #9eb77b;
	padding: 5px;
	padding-bottom: 15px;
	width: 530px;
}

.WeatherInfo {
	margin-top: 2%;
	padding: 10px;
	color: #9eb77b;
}

.Title {
	position: relative;
	top: 205px;
	color: #a8d385;
}

.Icon {
	margin-right: 5px;
	padding: 2px;
}

@media (max-width: 1300px) {
	.WeatherContainer {
		left: 4%;
		top: 185px;
		width: 50%;
	}
	.Title {
		position: relative;
		top: 180px;
		left: -19.5%;
	}
}

@media (max-width: 600px) {
	.WeatherContainer {
		width: 90%;
		position: relative;
		top: 20px;
		left: 3.5%;
	}
	.Title {
		potition: relative;
		top: 15px;
		left: 1%;
	}
}
