.WeatherContainer {
	display: flex;
	justify-content: center;
	float: left;
	position: relative;
	/* top: 200px; */
	/* left: 36.1%; */
	border: 1px solid #9eb77b;
	padding: 5px;
	padding-bottom: 15px;
	width: 35%;
	height: 173px;
	left: 32.3%;
	top: 16px;
}

.WeatherInfo {
	margin-top: 2%;
	padding: 10px;
	color: #9eb77b;
	position: relative;
	top: 50px;
	font-size: 18px;
}

.Title {
	position: relative;
	/* top: 205px; */
	/* left: 35.8%; */
	left: 34.9%;
	width: 30%;
	color: #a8d385;
	top: 20px;
}

.Icon {
	margin-right: 5px;
	padding: 2px;
}

@media (max-width: 1300px) {
	.WeatherContainer {
		left: 14%;
		width: 70%;
	}
	.WeatherInfo {
		font-size: 16px;
	}
	.Title {
		position: relative;
		left: 34%;
	}
}

@media (max-width: 600px) {
	.WeatherContainer {
		width: 90%;
		position: relative;
		top: 20px;
		left: 3.5%;
	}
	.Title {
		potition: relative;
		top: 15px;
		left: 1%;
		width: 95%;
	}
	.WeatherInfo {
		font-size: 15px;
	}
	#divider {
		display: none;
	}
}
