.SmallContainer {
	display: block;
	border: 1px solid #56a7b5;
	width: 100%;
	height: 173px;
	padding: 10px;
	margin-top: 3%;
	margin-left: 2%;
}

.Teams {
	color: white;
	display: inline-flex;
	justify-content: center;
	position: relative;
	left: -3px;
}

.Rank {
	font-weight: bold;
	font-size: 18px;
	color: #00274c;
}

.OtherRank {
	font-weight: bold;
	font-size: 18px;
	color: #fc855a;
}

.Scores {
	font-size: 18px;
	color: white;
	position: relative;
	left: -2px;
}

.Desc {
	font-size: 16px;
	color: orange;
	position: relative;
	left: -20px;
	top: 5px;
}

.MichScore {
	color: #0057a5;
}

.MichName {
	position: relative;
	top: 2px;
}

.OtherName {
	position: relative;
	top: 2px;
	left: 4px;
}

.OtherScore {
	color: red;
}

.Michigan {
	color: #00274c;
	background-color: #ffcb05;
	display: inline-flex;
	padding: 5px;
	margin-top: 5px;
	float: left;
	font-size: 18px;
	position: relative;
}

.Other {
	color: red;
	font-size: 18px;
	padding: 5px;
	display: inline-flex;
	margin-top: 5px;
	float: left;
	background-color: white;
}

.Divider {
	display: inline-flex;
	float: left;
	padding: 5px;
	margin-top: 5px;
	font-size: 18px;
}

.Title {
	position: relative;
	top: 20px;
	color: #56a7b5;
	padding: 15px;
	left: 18%;
}

.Container {
	width: 30%;
	position: relative;
	left: 29.8%;
	top: -538px;
	height: 100px;
}

.Detail {
	font-size: 16px;
	color: #a8d385;
	position: relative;
	left: -2px;
}

@media (max-width: 2000px) {
	.Title {
		left: 55px;
	}
	.SmallContainer {
		position: relative;
		left: 6%;
	}
}

@media (max-width: 1300px) {
	.Container {
		width: 70%;
		left: 8%;
		position: relative;
		top: -280px;
	}
	.Teams {
		left: -8px;
	}
	.Scores {
		position: relative;
		left: 3px;
	}
	.Title {
		left: 76px;
	}
}

@media (max-width: 900px) {
	.Title {
		left: 64px;
	}
}

@media (max-width: 600px) {
	.Container {
		position: relative;
		width: 88%;
		left: -3.5%;
		padding-bottom: 20px;
		top: -60px;
	}
	.Title {
		top: 25px;
		left: 42px;
	}
	.SmallContainer {
		height: 220px;
	}
}
